
.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2px;
    background-color: #545b62;
    /* color: #fff; */
  }

.DisplayBox {
    padding: 15px;
    width: 35%;
    height: 160px;
    text-align: center;
    margin: 15px;
}

.Alert-custom{
  background-color:#545b62;
}